{% extends 'base/base.html' %}
{% block title %}
Actividades Asociadas al Objetivo
{% endblock %}
{% block content %}

{% if messages %}
		  {% for message in messages %}

			<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
			  {{ message }}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>

		  {% endfor %}

	{% endif %}



	<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">




								    <button type="button" class="volver btn btn-sm btn-info"  name="button" title="Volver"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
      								<span class="fa fa-reply"></span></button>

									</div>

									<h2 class="panel-title" style="font-size:16px;"> {{nombre_objetivo.nombre}} </h2>
									<!--{% for objetivo in object_list|slice:":1" %}

								<h2 class="panel-title" style="font-size:16px;"><b>Detalle Actividades</b>  - <b>Objetivo Asociado : </b>  {% if objetivo.id_objetivo_tactico != NULL %} {{ objetivo.id_objetivo_tactico}} {% elif  objetivo.id_objetivo_operativo != NULL %}  {{ objetivo.id_objetivo_operativo}} {% else %}  {{ objetivo.id_objetivo_tacticotn}}  {% endif %}</h2>

  								{% endfor %}-->
							</header>
							<div class="panel-body">
								<table class="table table-bordered table-striped mb-none" id="datatable-default">
									<thead>
										<tr>
											<th style="font-size:11px;">ID</th>
											<th style="font-size:11px; width:150px;">Descripción Actividad</th>

											<th style="font-size:11px; width:120px;" title="Fecha de Inicio de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Inicio</th>
											<th style="font-size:11px; width:120px;" title="Fecha de Término de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Fin</th>
											<th style="font-size:11px;">Prod. Estadístico</th>
											<th style="font-size:11px;">Cargo</th>


											<th style="font-size:11px;  width:100px;">Estado  </th>
											<th style="font-size:11px;  width:100px;">Estado Validación </th>
											<th style="font-size:11px; width:110px;">Inicio Real</th>
											<th style="font-size:11px; width:110px;">Fin Real</th>
											<th style="font-size:11px; width:110px;">Reprog. Inicio</th>
											<th style="font-size:11px; width:110px;">Reprog. Fin</th>

											{% if total_disponible.estado_seguimiento_id == 1 %}
											<th style="font-size:11px;">Reportar</th>
											{% endif %}
											<th style="font-size:11px; width:110px;">Comentarios Validación</th>
<!--											<th>Justificación</th>-->
<!--											<th>Detalle</th>-->


										</tr>
									</thead>
									<tbody>

                                            {% for  objetivo in object_list %}

                                                <tr>

													<td style="font-size:11px;"> {{ objetivo.id}}</td>
<!--													<td class="Mitexto" title="Presione Para Ver el Detalle Actividad"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top"  style="height:70px; width:100%; border-bottom:1px; border-left:0px; border-right:0px; font-size:11px; padding-top:-5px;" >{{ objetivo.descripcion_actividad}}</td>-->
													<td  style="font-size:11px;">
													<a  type="button" title="Presione Para Ver el Detalle Actividad"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top"   class="update Mitexto" style="height:60px; width:100%; border-bottom:1px; border-left:0px; border-right:0px; font-size:11px; padding-top:-5px; text-decoration: none; color:#777777;"  data-id="{% url 'SeguimientoActividadesVer' objetivo.id %}">
															{{ objetivo.descripcion_actividad}}
<!--
<span class="fa fa-search" ></span>-->
<!--							 							<span class="badge" title="Nuevas Observaciones" >ok</span>-->
														</a>
													</td>
													<td style="font-size:11px; width:110px;" > <span style='display: none;'>{{objetivo.fecha_inicio_actividad|date:"Ymd"}}</span>{{ objetivo.fecha_inicio_actividad|date:"d-m-Y"}}</td>
													<td style="font-size:11px; width:110px;"> <span style='display: none;'>{{objetivo.fecha_termino_actividad|date:"Ymd"}}</span> {{ objetivo.fecha_termino_actividad|date:"d-m-Y"}}</td>
													<td style="font-size:11px;"> {% if objetivo.id_producto_estadistico == none %} -  {%else%} {{ objetivo.id_producto_estadistico}} {%endif%}</td>
													<td style="font-size:11px;"> {{ objetivo.id_familia_cargo}}</td>




													<td   {% if objetivo.id_estado_actividad_id == 1  %}
														 style="color:#ff8000; width:140px; font-size:11px; width:80px;"
														  {% elif objetivo.id_estado_actividad_id == 2  %}
														 style="color:#ff8000; width:140px; font-size:11px; width:80px;"
														  {% elif objetivo.id_estado_actividad_id == 3  %}
														 style="color:#346cb0; width:140px; font-size:11px; width:80px;"
														  {% elif objetivo.id_estado_actividad_id == 4  %}
														 style="color:black; width:140px; font-size:11px; width:80px;"
														   {% elif objetivo.id_estado_actividad_id == 5  %}
														 style="color:#008080; width:140px; font-size:11px; width:80px;"
														   {% elif objetivo.id_estado_actividad_id == 6  %}
														 style="color:#008080; width:140px; font-size:11px; width:80px;"
														   {% elif objetivo.id_estado_actividad_id == 7  %}
														 style="color:#13a013; width:140px; font-size:11px; width:80px;"

														  {% elif objetivo.id_estado_actividad_id == 8  %}
														 style="color:#1e7799; width:140px; font-size:11px; width:80px;"

														     {% elif objetivo.id_estado_actividad_id == 9  %}
														 style="color:#797963; width:140px; font-size:11px; width:80px;"

														     {% elif objetivo.id_estado_actividad_id == 10  %}
														 style="color:#797963; width:140px; font-size:11px; width:80px;"



														 {%endif%} >{% if objetivo.id_estado_actividad == none %} -  {%else%}


														{{ objetivo.id_estado_actividad}} {%endif%}</td>

													<td
                                                     {% if objetivo.validada == 2 %}
                                                      style="color: red;"
                                                      {%endif%}
                                                      >   {% if objetivo.validada == 2 %} Rechazada  {%endif%} {% if objetivo.validada == 1 %} Aceptada  {%endif%} {% if objetivo.validada == 0 %} -  {%endif%}</td>



														<td style="font-size:11px; width:110px;"> <span style='display: none; '>{{objetivo.fecha_real_inicio|date:"Ymd"}}</span> {% if objetivo.fecha_real_inicio == none %} -  {%else%} {{ objetivo.fecha_real_inicio|date:"d-m-Y"}} {%endif%}</td>
														<td style="font-size:11px; width:110px;"> <span style='display: none;'>{{objetivo.fecha_real_termino|date:"Ymd"}}</span> {% if objetivo.fecha_real_termino == none %} -  {%else%} {{ objetivo.fecha_real_termino|date:"d-m-Y"}} {%endif%}</td>
														<td style="font-size:11px; width:110px;"> <span style='display: none;'>{{objetivo.fecha_reprogramacion_inicio|date:"Ymd"}}</span> {% if objetivo.fecha_reprogramacion_inicio == none %} -  {%else%} {{ objetivo.fecha_reprogramacion_inicio|date:"d-m-Y"}} {%endif%}</td>
														<td style="font-size:11px; width:110px;"> <span style='display: none;'>{{objetivo.fecha_reprogramacion_termino|date:"Ymd"}}</span> {% if objetivo.fecha_reprogramacion_termino == none %} -  {%else%} {{ objetivo.fecha_reprogramacion_termino|date:"d-m-Y"}} {%endif%}</td>



													{% if total_disponible.estado_seguimiento_id == 1 %}


														<td  style="width:80px; text-align:center;  "   >

															<button  {%if   objetivo.flag_finalizada == 1 and objetivo.id_estado_actividad_id == 7 or   objetivo.flag_finalizada == 1 and objetivo.id_estado_actividad_id == 5 or   objetivo.id_estado_actividad_id == 9 or total_disponible.id_controlador.id_estado_plan_id == 1 or total_disponible.id_controlador.id_estado_plan_id == 3 %} disabled="disabled" {%endif%} type="button" id="notification_ok" title="Reportar Avance de la Actividad" title="Fecha de Inicio de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top" class="update btn btn-sm btn-primary" data-id="{% url 'RegistroActividadEditarSeguimiento' objetivo.id %}">
																<span class="fa fa-check-square-o" ></span>
															{%if objetivo.flag_reporta == 1%}<span class="badge" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" title="Actividad Reportada!"  >&#x2713;</span>{%endif%}
															</button>

														</td>



														<td  style="width:80px; text-align:center;  "   >
                                                          <button   type="button" id="notification_ok" title="Historial comentarios Rechazo"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top" class="update2 btn btn-sm btn-primary" data-id="{% url 'ListarObservacionesActividad' objetivo.id %}">
                                                                    <span class="fa fa-comment-o" ></span>


<!--                                                                    {%if objetivo.flag_reporta == 1%}<span class="badge" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" title="Actividad Reportada!"  >&#x2713;</span>{%endif%}-->
                                                           </button>
                                                         </td>



													{% endif %}



													<!--													<td>{% if objetivo.justificacion == none %} -  {%else%} {{ objetivo.justificacion}} {%endif%}</td>-->


<!--													<td style="width:60px; text-align:center; " >-->

<!--														<a  type="button" title="Detalle Actividad" id="notification" class="objetivos btn btn-sm btn-primary"  href="">-->
<!--														<span class="fa fa-search" ></span>-->
<!--&lt;!&ndash;							 							<span class="badge" title="Nuevas Observaciones" >ok</span>&ndash;&gt;-->
<!--														</a>-->

<!--                                                    </td>-->









                                                </tr>

                                            {% endfor %}


									</tbody>
								</table>

							</div>
						</section>




<!--Cabecera del modal -->

<div class="modal fade"  tabindex="-1" role="dialog" id="modalCreate">
  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static"
  data-keyboard="false" role="dialog"  id="modalUpdate">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static"
  data-keyboard="false" role="dialog"  id="modalcomentarios">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalDelete">
  <div class="modal-dialog modal-xs" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" data-backdrop="static"
  data-keyboard="false" role="dialog"  id="modalUpdate2">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>

<!--Fin cabecera del modal -->
        <div class="modal fade" id="observacion_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

				<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Detalle Actividad</h2>
			</header>

              <div class="modal-body">
               	<textarea id="txt_obs_campo_expand" rows="15" cols="80" class="form-control" style="width:100%;resize: none; " maxlength="5000" readonly  ></textarea>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

              </div>
            </div>
          </div>

        </div>





	{% block extrajs %}




<script type="text/javascript">

$(".volver").click(function() {
    window.location.href = '{% url 'ActividadesObjetivosListarSeguimiento'  %}';
    return false;
});

	// JS modal crea Registro
  	 $(".create").modalForm(  {formURL: "{% url 'ActividadesCrear' %}", modalID: $("#modalCreate")});

    // JS modal crear Registro
   // $(".create").each(function () {
   // $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalCreate")});
	//});


   	 // JS modal actualiza Registro
   $(".update").each(function () {
   $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalUpdate")});

    });




    // JS modal elimina Registro
    $(".delete").each(function () {
    $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalDelete")});
	});





     // Js Muestra/Oculta Mensaje Success
   	 $(".alert").fadeTo(8000, 500).slideUp( "slow", function() {
     $(this).remove();
  });

$(".update2").each(function () {
   $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalUpdate2")});

    });

$('#datatable-default').on('click', '.Mitexto', function () {

    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(2)').text())
    //$('#observacion_center').modal('toggle');
});

$('#datatable-default').DataTable({
stateSave: true,
//"ordering": false, //# Sprint 1 - CI-6 - 12012021
//"order": [[ 3, "desc" ]]

"pageLength": 50 // cambio a 50 sprint 1 - CI-11 - 070121
});


</script>

		{% endblock %}



{% endblock %}
