cymysql==0.9.14
decorator==4.4.1
Django==2.2.7
django-ajax-selects==1.7.1
django-cymysql==2.2.0
django-js-asset==1.2.2
django-mptt==0.10.0
django-python3-ldap==0.11.2
django-sitetree==1.13.2
FeinCMS==1.7.7
ldap3==2.5
petl==1.3.0
petl-django==0.0.2
petl-ldap3==0.0.6
petname==2.6
public==2019.4.13
pyasn1==0.4.4
pyasn1-modules==0.2.7
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
