.Mitexto {
   cursor:pointer;
   overflow: hidden;
   text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
   -webkit-box-flex: 1;

}

.MitextoGrande {
   cursor:pointer;
   overflow: hidden;
   text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   -webkit-box-flex: 1;

}


