{% load staticfiles %}
{% load sitetree %}
<!doctype html>

<html class="fixed" >
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Gestión Capacity Institucional | INE</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


		<!-- Web Fonts  -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/font_google_css.css' %}"  type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />
		<!-- Specific Page Vendor CSS  tables-->
		<link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />

			<!-- Specific Page Vendor CSS modal-->
		<link rel="stylesheet" href="{% static 'assets/vendor/pnotify/pnotify.custom.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

		<!--Notificaciones (globo rojo)-->
		<link rel="stylesheet" href="{% static 'css/notification.css' %}">

		<!--		chat -observaciones -->
		<link rel="stylesheet" href="{% static 'css/chat_observaciones.css' %}">
		<link rel="stylesheet" href="{% static 'css/css_texto.css' %}">

		<script src="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}"></script>

		<!-- Head Libs -->
		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>





	</head>
	<body>
		<section class="body" style="background-color:#ecedf0;">

			<!-- start: header -->
			<header class="header" >

				<div class="logo-container" >

					<a href="{% url 'dashboard' %}" class="logo" >
						<img src="{% static 'assets/images/logo_ine.png' %}" height="35" alt="Porto Admin" />

					</a>
                    <p class="logo" style="color:#9f9f9f; font-size:18px; margin-top:13px" >Gestión Capacity Institucional</p>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right" >
			



					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="{% static 'assets/images/logged-user.jpg' %}" alt="Usuario Auntenticado" class="img-circle" data-lock-picture="{% static 'assets/images/logged-user.jpg ' %}" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<span class="name">Bienvenido {{ user.get_full_name }}</span>
								<span class="role">Su última visita fue el {{ user.last_login }}</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>

								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'registration:logout' %}"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->



			</header>
			<!-- end: header -->




			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title" style="color:#f1f3f4; font-size:12px;">


							Perfil | {{ request.session.grupo }}



						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>

					<div class="nano">
						<div class="nano-content">
                            <nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">

					<!-- inicio menu -->




							{% sitetree_menu from request.session.grupo include "trunk" template "base/menu.html" %}



						<!-- fin menu -->


								</ul>
							</nav>


							<hr class="separator" />

                      <div class="sidebar-widget widget-tasks">
								<div class="widget-header">
									<h6 style="color:#f1f3f4; text-transform: capitalize;">Ayuda</h6>
									<div class="widget-toggle">+</div>
								</div>
								<div class="widget-content">
									<ul class="list-unstyled m-none">
										<li><a href="{% static 'doc/Manual_Usuario_Capacity.ppsx' %}">Manual de Usuario</a></li>
										<li><a href="{% static 'doc/FAQ_Capacity_Institucional.pdf' %}" target="_blank">Preguntas Frecuentes</a></li>

									</ul>
								</div>
                         </div>

							<hr class="separator" />

	                    </div>
                    </div>
					</aside>



				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">

						<h2>
							{% block title %}

							{% endblock %}
						</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dashboard' %}?next={{request.path}}">
										<i class="fa fa-home"></i>
									</a>
								</li>

							</ol>
					
							<div  class="sidebar-right-toggle" ></div>
						</div>
					</header>

					<!-- start: page -->
					{% block content %}




					{% endblock %}
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Calendario</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>

								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">

								<ul>


								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>



			<!-- Vendor -->
			<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>

<!--			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
<!--			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>-->

<!--		 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>-->
<!--			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>-->

			<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
			<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
			<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>


			<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
			<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

								<!-- Chart.js-->
			<script src="{% static 'js/Chart.min.js' %}"></script>	
			<script src="{% static 'js/chartjs-plugin-datalabels.min.js' %}"></script>

				<!-- exporta tabla a xls-->

			<script src="{% static 'js/jquery.table2excel.js' %}"></script>

			<script src="{% static 'assets/vendor/jquery-appear/jquery.appear.js' %}"></script>
			<script src="{% static 'assets/vendor/jquery-easypiechart/jquery.easypiechart.js' %}"></script>

			<!-- Selector Multiple-->
			<script src="{% static 'assets/vendor/select2/select2.js' %}"></script>

				<!-- Specific Page Vendor tables -->

			<script src="{% static 'assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
			<script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
			<script src="{% static 'assets/javascripts/tables/examples.datatables.default.js' %}"></script>

			<script src="{% static 'assets/vendor/pnotify/pnotify.custom.js' %}"></script>
			
			<!-- Theme Base, Components and Settings -->
			<script src="{% static 'assets/javascripts/theme.js' %}"></script>
			
			<!-- Theme Custom -->
			<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>
			
			<!-- Theme Initialization Files -->
			<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>

			<!-- Examples -->
			<script src="{% static 'assets/javascripts/ui-elements/examples.modals.js' %}"></script>

            <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
			 <script src="{% static 'js/popper.min.js' %}"></script>

			 <script src="{% static 'assets/vendor/ios7-switch/ios7-switch.js' %}"></script>

 			<script src="{% static 'js/moment-with-locales.js' %}"></script>



		{% block extrajs %}



		{% endblock %}


		</section>








	</body>
</html>