
			<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title" >Gestión de Objetivos Estratégicos  </h2>
			</header>

			<form  method="post"  action="" >

				<div class="panel-body">
					{% csrf_token %}

				 <div   class="form-group" style="display:none;">
					<label >Primer Nivel</label>
					 <select  name="ges_primer_nivel" id="ges_primer_nivel">
						 <option value="1">Dirección Nacional</option>
					 </select>
				</div>



				<div class="form-group">
					<label >Eje</label>
				{{ form.ges_eje }}
				</div>


				<div class="form-group" >
					<label >Descripción Objetivo</label>
					{{ form.descripcion_objetivo }}
				</div>



		<!--		<div class="checkbox-custom checkbox-primary" style="display:none;" aria-checked="true">
					{{ form.estado }}
				<label>Estado</label>
				</div>-->



				</div>



			<div class="modal-footer">
				<button class="btn btn-primary" type="submit" title="Confirma Acción"  >Confirmar</button>
				<button class="btn btn-default" type="button" data-dismiss="modal" title="Cancela Acción">Cancelar</button>
			</div>

			</form>
