{% extends 'base/base.html' %}
{% load sitetree %}

{% block title %}
Reportes
{% endblock %}

{% block extrajs %}


		<script type="text/javascript">



$( document ).ready(function() {
/////////////////////////////////////////////////1111////////////////////////////////////////////////////////////////////

var ctx1 = $('#chart_uno');

var myLineChart = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        datasets: [{
         label: "N° de Actividades Planificadas (Acumuladas)",

         data:  {{ ValMesesAcum }},

         borderColor: ['rgba(54, 162, 235, 1)'],
		 backgroundColor: ['rgba(240, 240, 240, 0)'],
		 pointBackgroundColor: "rgba(54, 162, 235, 1)",
		 pointBorderColor: "rgba(54, 162, 235, 1)",
		 pointHoverBackgroundColor:"rgba(52,108,176,1)",
		 pointHoverBorderColor: "rgba(52,108,176,1)",
   		 pointHoverBorderWidth: 2,
   		 pointHoverRadius:6,
		 borderWidth: 2,
		 pointBorderWidth:1,
		 pointRadius: 4
		},{

		 label: "N° de Actividades Ejecutadas (Acumuladas)",

         data: {{ ValMesesAcumEjec }},

         borderColor: ['rgba(255, 104, 136, 1)'],
		 backgroundColor: ['rgba(240, 240, 240, 0)'],
		 pointBackgroundColor: "rgba(255,104,136,1)",
		 pointBorderColor: "rgba(255,104,136,1)",
		 pointHoverBackgroundColor:"rgba(255,45,87,1)",
		 pointHoverBorderColor: "rgba(255,45,87,1)",
   		 pointHoverBorderWidth: 2,
   		 pointHoverRadius:6,
		 borderWidth: 2,
		 pointBorderWidth:1,
		 pointRadius: 4



        }]
     },
    options: {
			 title: {
					display: true,
					text: 'Curva de ejecución actividades programadas (acumulada)'
				},
	           legend: {
           		 display: true,


         		},


			   scales: {
				yAxes: [{
					ticks: {
						//suggestedMin: 0,
						//suggestedMax: 10,
						 beginAtZero: true,
					}
				}]
     		   },


    },

    plugins: [{
   afterDatasetsDraw: function(chart) {
      var ctx = chart.ctx;
      chart.data.datasets.forEach(function(dataset, index) {
         var datasetMeta = chart.getDatasetMeta(index);
         if (datasetMeta.hidden) return;
         datasetMeta.data.forEach(function(point, index) {
            var value = dataset.data[index],
                x = point.getCenterPoint().x,
                y = point.getCenterPoint().y,
                radius = point._model.radius,
                fontSize = 10,
                fontFamily = 'Verdana',
                fontColor = '#a0a0a0',
                fontStyle = 'normal';
            ctx.save();
            ctx.textBaseline = 'middle';
            ctx.textAlign = 'center';
            ctx.font = fontStyle + ' ' + fontSize + 'px' + ' ' + fontFamily;
            ctx.fillStyle = fontColor;
            ctx.fillText(value, x, y - radius - fontSize);
            ctx.restore();
         });
      });
   }
}]

});


$("#download").click(function(){
  /*Get image of canvas element*/
  var url_base64jp = document.getElementById("chart_uno").toDataURL("image/jpg");
  /*get download button (tag: <a></a>) */
  var a =  document.getElementById("download");
  /*insert chart image url to download button (tag: <a></a>) */
  a.href = url_base64jp;
});


   	 // JS modal actualiza Registro
   $(".update").each(function () {
   $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalUpdate")});

    });

         // Js Muestra/Oculta Mensaje Success
   	 $(".alert").fadeTo(2000, 500).slideUp( "slow", function() {
     $(this).remove();
  });

});


$('#datatable-default').on('click', '.descripcion_actividad', function () {
    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(2)').text())
    $('#observacion_center').modal('toggle');
});

$('#datatable-default').on('click', '.descripcion_objetivo', function () {
    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(3)').text())
    $('#observacion_center').modal('toggle');
});

$('#datatable-default').on('click', '.descripcion_justificacion', function () {
    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(17)').text())
    $('#observacion_center').modal('toggle');
});







		</script>
	{% endblock %}


{% block content %}

{% if messages %}
		  {% for message in messages %}

			<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
			  {{ message }}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>

		  {% endfor %}

	{% endif %}






<div class="tabs tabs-primary">
								<ul class="nav nav-tabs">
									<li class="active">
										<a aria-expanded="false" href="#popular1" data-toggle="tab"> Gráfico C.E.A.P</a>
									</li>
									<li >
										<a aria-expanded="true" href="#recent1" data-toggle="tab">Datos</a>
									</li>
								</ul>



								<div class="tab-content">
									<div class="tab-pane active" id="popular1">


									<section class="panel">

									<div style="text-align:right;">
											<a id="download" style="width:30px; height:30px;"  name="download"  download="Curva_de_ejecucion_actividades_programadas.jpg" href="" class="btn btn-sm btn-success" title="Descargar Gráfico" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
											<span style="margin-left:-2px;" class="fa fa-download"></span>
											</a>
									</div>
									<div class="panel-body">
										<canvas id="chart_uno" ></canvas>

									</div>

									</section>

								</div>


<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->


									<div class="tab-pane" id="recent1">



										<section class="panel">



							<div style="text-align:right;">
								 <a  type="button" style="width:30px; height:30px; "  class="create btn btn-sm btn-success" href="{% url 'export_users_csv' %}"  name="button" title="Descargar Tabla en MS Excel" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
									 <span style="margin-left:-1px; " class="fa fa-file-excel-o"></span></a>
							</div>


									<!--<a href="#" class="fa fa-times"></a>-->

							<div class="panel-body">
								<table class="table table-bordered table-striped mb-none" id="datatable-default">
									<thead>
										<tr style="font-size:11px;">
											<th>N°</th>
											<th>Descripción Actividad</th>
											<th>Objetivo Vinculado</th>
											<th>Periodicidad</th>
											<th>Producto Estadístico</th>
											<th>Hora x actividad</th>
											<th>Volumen</th>
											<th>N° Personas Asignadas</th>
											<th>Total Horas</th>
											<th>Cargo</th>
											<th >Fecha Inicio</th>
											<th >Fecha Término</th>
											<th>Estado Actividad.</th>
											<th>Fecha Real de Finalización</th>
											<th>Reprogramación Fecha de Inicio</th>
											<th>Reprogramación Fecha de Término</th>
											<th>Justificación Desviación</th>
											<th>Dependencia 1</th>
											<th>Dependencia 2</th>
											<th>Área</th>
											<th>Eje</th>



										</tr>
									</thead>
									<tbody>

                                            {% for actividad in object_list %}
                                                <tr style="font-size:11px;">
													<td> {{ forloop.counter }}</td>
                                                    <td class="descripcion_actividad"  style="cursor:pointer; max-width: 100px; overflow: hidden;  display: table-cell;  text-overflow: ellipsis;  border: solid 1px #dddddd; white-space: nowrap;"> {{ actividad.descripcion_actividad }} </td>
													 <td class="descripcion_objetivo"  style="cursor:pointer; max-width: 100px; overflow: hidden;  display: table-cell;  text-overflow: ellipsis;  border: solid 1px #dddddd; white-space: nowrap;"> {% if actividad.id_objetivo_operativo != None %} {{actividad.id_objetivo_operativo}} {% elif actividad.id_objetivo_tactico != None %} {{actividad.id_objetivo_tactico}} {% elif actividad.id_objetivo_tacticotn != None %} {{actividad.id_objetivo_tacticotn}} {% endif %} </td>
													<td> {{ actividad.id_periodicidad}} </td>
													<td> {{ actividad.id_producto_estadistico}} </td>
													<td> {{ actividad.horas_actividad}} </td>
													<td> {{ actividad.volumen}} </td>
													<td> {{ actividad.personas_asignadas}} </td>
													<td> {{ actividad.total_horas}} </td>
													<td> {{ actividad.id_familia_cargo}} </td>
													<td> {{ actividad.fecha_inicio_actividad}} </td>
													<td> {{ actividad.fecha_termino_actividad}} </td>
													<td> {{ actividad.id_estado_actividad}} </td>
													<td> {% if actividad.fecha_real_termino == None %} {% else %} {{ actividad.fecha_real_termino}} {% endif %} </td>
													<td> {% if actividad.fecha_reprogramacion_inicio == None %} {% else %} {{ actividad.fecha_reprogramacion_inicio}} {% endif %} </td>
													<td>{% if actividad.fecha_reprogramacion_termino == None %} {% else %} {{ actividad.fecha_reprogramacion_termino}} {% endif %} </td>
													<td class="descripcion_justificacion"  style="cursor:pointer; max-width: 100px; overflow: hidden;  display: table-cell;  text-overflow: ellipsis;  border: solid 1px #dddddd; white-space: nowrap;"> {% if actividad.justificacion == None %} {% else %} {{ actividad.justificacion}} {% endif %}  </td>
													<td>
														{% if actividad.id_controlador.nivel_inicial == 4 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_cuarto_nivel.tercer_nivel.segundo_nivel}}
														{% elif actividad.id_controlador.nivel_inicial == 3 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_tercer_nivel.id_segundo_nivel}}
														{% elif actividad.id_controlador.nivel_inicial == 2 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_segundo_nivel}}
														{% endif %}
													</td>
													<td>
														{% if actividad.id_controlador.nivel_inicial == 4 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_cuarto_nivel.tercer_nivel}}
														{% elif actividad.id_controlador.nivel_inicial == 3 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_tercer_nivel}}
														{% elif actividad.id_controlador.nivel_inicial == 2 %} -
														{% endif %}
													</td>

													<td>

														{% if actividad.id_controlador.nivel_inicial == 4 %} {{actividad.id_controlador.id_jefatura.id_nivel.id_cuarto_nivel}}
														{% elif actividad.id_controlador.nivel_inicial == 3 %} -
														{% elif actividad.id_controlador.nivel_inicial == 2 %} -
														{% endif %}
													</td>

													<td>
														{% if actividad.id_objetivo_operativo != None %} {{actividad.id_objetivo_operativo.id_objetivo_tacticotn.id_objetivo_tactico.id_objetivo_estrategico.ges_eje}}
														{% elif actividad.id_objetivo_tacticotn != None %} {{actividad.id_objetivo_tacticotn.id_objetivo_tactico.id_objetivo_estrategico.ges_eje}}
														{% elif actividad.id_objetivo_tactico != None %} {{actividad.id_objetivo_tactico.id_objetivo_estrategico.ges_eje}}
														{% endif %}
													</td>



                                                </tr>
                                            {% endfor %}


									</tbody>
								</table>

							</div>
						</section>










									</div>
								</div>
								</div>



<!--Fin cabecera del modal -->
        <div class="modal fade" id="observacion_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

				<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Detalle</h2>
			</header>

              <div class="modal-body">
               	<textarea id="txt_obs_campo_expand" rows="15" cols="80" class="form-control" style="width:100%;resize: none; " maxlength="5000" readonly  ></textarea>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

              </div>
            </div>
          </div>

        </div>





	{% endblock %}
