<header class="panel-heading">
    <div class="panel-actions">
        <a class="fa fa-times" data-dismiss="modal"></a>
    </div>
    <h2 class="panel-title">Rechazar Plan</h2>
</header>

<form method="post" action="">

    <div class="panel-body">
        {% csrf_token %}

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %} {{ error }} {% endfor %}
        </div>

        <div class="col-md-12">


            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-warning"></i>
                        </div>
                    <div class="modal-text">
                        <h4>Atención</h4>
                        <p>¿Está seguro que desea rechazar el plan?.</p>
                    </div>
                </div>
            <br><br>

					<div id="display_confirmar"  class="alert alert-warning" role="alert">
                      El plan de trabajo será enviado a la jefatura quien lo formuló.
                    </div>
            <div class="form-group" style="display:none;">
                <label>Estado</label>
                <div>{{ form.estado_flujo }}</div>
            </div>

        </div>

    </div>
		<div id="enviar" style="display:none; text-align:left; " class="alert alert-info" role="alert">
            Enviando correos, favor espere...
       		 </div>
    <div class="modal-footer">
        <button class="estado btn btn-danger" type="submit" id="confirmar">Confirmar</button>
        <button class="btn btn-default" type="button" id="cancelar"  data-dismiss="modal">Cancelar</button>
    </div>

    <div class="alert alert-danger" style="display:none;" id="mjeError">

        <p id="textError"></p>
    </div>

</form>


{% block extrajs %}
    <script type="text/javascript">
        $(".estado").click(function () {
            $('#id_estado_flujo').val('8');
        });

       $('#confirmar').click(function() {

     $( this ).hide();
     $( '#cancelar' ).hide();
     $( '#confirmar' ).hide();
     $( '#display_confirmar' ).hide();
      $( '#enviar' ).fadeIn();
        });

    </script>
{% endblock %}