
	<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Registro Periodicidad</h2>
			</header>

			<form  method="post"  action="" >

				<div class="panel-body">
					{% csrf_token %}

					 <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    					  {% for error in form.non_field_errors %}
        					{{ error }}
     					 {% endfor %}
    				</div>


				<div class="col-md-12">

                    <div class="form-group">
					<label >Descripción Periodicidad</label>
					{{ form.descripcion_periodicidad }}
				    </div>





				</div>

			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" type="submit" id="confirmar"  >Confirmar</button>
				<button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
			</div>

			</form>


