	<header class="panel-heading">
				<div class="panel-actions">

				</div>
				<h2 class="panel-title">Asignar Plan a Analista de Planificación</h2>
			</header>

			<form id="formAsigna" method="post"  action="" >

				<div id="panel" class="panel-body">
					{% csrf_token %}


				<div class="col-md-6">



<!--			<p>{{ item.id_jefatura.id_nivel}} </p>-->



					<div  class="form-group">
					<label >Seleccione un funcionario analista</label>
					<div >{{ form.analista_asignado }}</div>

				</div>


				</div>

			</div>

			<div id="botones" class="modal-footer">

        <div id="enviar" style="display:none; text-align:left; " class="alert alert-info" role="alert">
            Enviando correo al analista, favor espere...
        </div>

				<button class="btn btn-primary" type="submit" id="confirmar"  >Confirmar</button>

				<button class="btn btn-default" type="button" id="cancelar" data-dismiss="modal">Cancelar</button>
			</div>




			</form>


	<script>



$(function() {
       $('#siteID').select2({
        dropdownParent: $('#modalCreate')
    });

});


            $('#confirmar').click(function() {

                $( this ).hide();
                $( '#cancelar' ).hide();
                 $( '#enviar' ).fadeIn();

            });





	</script>
