certifi==2020.4.5.1
chardet==3.0.4
cymysql==0.9.14
decorator==4.4.1
Django==2.2.7
django-ajax-selects==1.7.1
django-cymysql==2.2.0
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-mptt==0.10.0
django-python3-ldap==0.11.2
django-sitetree==1.13.2
et-xmlfile==1.0.1
FeinCMS==1.7.7
idna==2.9
imgkit==1.0.2
jdcal==1.4.1
ldap3==2.5
openpyxl==2.6.0
petl==1.3.0
petl-django==0.0.2
petl-ldap3==0.0.6
petname==2.6
public==2019.4.13
pyasn1==0.4.4
pyasn1-modules==0.2.7
PyJWT==1.7.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
reportlab==3.5.42
requests==2.23.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.9
wkhtmltopdf==0.2
XlsxWriter==1.2.9
xlwt==1.3.0
