
<header class="panel-heading">
    <div class="panel-actions">
        <a id="btnDismiss" class="fa fa-times" data-dismiss="modal"></a>
    </div>
    <h2 class="panel-title">Observaciones Actividad Analista</h2>
</header>

<form method="POST" id="post-form" action="">

<div id="panelbody" class="panel-body" style="overflow-y: scroll; height:350px; overflow-x: hidden;">
        {% csrf_token %}

	<br>

		<div class="container"  >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group"  >

<input id="fullname" style="display:none;" value="{{user.get_full_name}}" >
<input id="id_actividad" style="display:none;" value="{{id_actividad}}" >


{%  for obs in object_list %}

{% if obs.user_observa.id  ==  user.id  %}

<div id="cont_1" class="container_light" style="width:835px;">
<span class="nombre-left">{{ obs.user_observa}}</span>
<br><br>
  <p>{{ obs.observacion}} </p>
  <span class="time-right">{{ obs.fecha_registro}}</span>
</div>

{% else %}

<div id="cont_2" class="container_light darker" style="width:835px;">
<span class="nombre-right">{{ obs.user_observa}} </span>
    <br><br>
  <p>{{ obs.observacion}} </p>
  <span class="time-left">{{ obs.fecha_registro}}</span>
</div>

{% endif %}

{% endfor %}


<div id="cont"></div>

					</div>
				</div>
			</div>
		</div>



</div>

<div class="panel-body">
	<div class="container"  >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  >
                        <p style="color:#1e7799;">Ingrese Observación</p>

                         <textarea {% if estado_plan ==  7  %} disabled style="display:none;" {% endif %} id="observacion"  placeholder = "Ingrese una observación, máximo 2000 caracteres." name="observacion" class="md-textarea form-control " maxlength="2000" rows="3"  style="width:835px; " required="required" ></textarea>
                    </div>
                </div>
            </div>
    </div>
</div>



    <div class="modal-footer">
        <button id="btnGuarda" {% if estado_plan ==  7  %} disabled style="display:none;" {% endif %} class="btn btn-primary" type="submit" >Aceptar</button>
        <button id="btnCerrar" class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
    </div>

</form>


	<script type="text/javascript">

$("#btnCerrar").click(function(){
location.reload(true);
return true;
});

$("#btnDismiss").click(function(){
location.reload(true);
return true;
});


  $("#btnGuarda").click(function(){
  //$(this).attr('disabled','disabled');

  if (document.getElementById("observacion").value == "") {

  document.getElementById("observacion").focus();
  return false;
  }

   var obs = document.getElementById("observacion").value;
   var usuario =  document.getElementById("fullname").value;
    var id_actividad =  document.getElementById("id_actividad").value;

    $.ajax({
        dataType : 'json',
        cache: false,
        type:'POST',
        url:'{% url "gestionobservacionactividadesA" id_actividad %}',

        data:{
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            observacion: obs,
            action: 'post'

        },
        success:function(json){
          document.getElementById("post-form").reset();
          // alert(json.fecha);


            $("#cont").append('<div class="row">'+
			'<div class="col-md-6">'+
				'<div class="form-group" >'+
                    '<div id="cont_1" class="container_light" style="width:835px;">'+
                        '<span class="nombre-left">'+ usuario +'</span>'+
                        '<br><br>'+
                    '<p>' + json.observacion + '</p>'+
                    '<span class="time-right">'+ json.fecha +'</span>'+
                    '</div>'+
                    '</div>'+
                '</div>'+
            '</div>')

        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    },

        complete : function(xhr, status) {
           // alert('Petición realizada');

            var objDiv = document.getElementById("panelbody");
          objDiv.scrollTop = objDiv.scrollHeight;

        }
    });
     return false;
});

        </script>



