{% extends 'base/base.html' %}
{% block title %}
Listado de Planes
{% endblock %}

{% block content %}

{% if messages %} {% for message in messages %}

	<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

{% endfor %} {% endif %}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <!--<a href="#" class="fa fa-times"></a>-->
        </div>


        <h2 class="panel-title"></h2>

    </header>

    <div class="panel-body">
            <div class="form-group">
							<label>Filtrar</label>
							<select class="form-control" id="list_estados" style="max-width:300px;">
                                <option value="" selected>Seleccione...</option>
                             <option value="En Revisión Planificación">En Revisión Planificación</option>
                              <option value="Aprobado">Aprobado</option>
                              <option value="Formulación en Observación Planificación">Formulación en Observación Planificación</option>

                            </select>

						    </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>

                    <th>Unidad Plan</th>
                    <th>Jefatura Elabora</th>
                    <th>Estado</th>
                    <th>Fecha Envío Plan</th>
<!--                    <th title="Observaciones Totales Asociadas al Plan" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Obs. Total</th>-->
                    <th >Objetivos</th>
                    <th style="text-align:center;" >Opciones</th>
                </tr>
            </thead>
            <tbody>

                {% for planes in object_list %}
                <tr>

                    <td> {{ planes.id_jefatura.id_nivel }} </td>
                    <td> {{ planes.id_jefatura.id_user }} </td>
                    <td> {{ planes.estado_flujo.descripcion_estado}}</td>
                    <td> {{ planes.fecha_ultima_modificacion}}</td>
<!--                    <td> {% if planes.count_observaciones == none %} 0 {% else %} {{ planes.count_observaciones}} {%endif%}</td>-->

                      <td style="text-align:center;">

                             	<a type="button" title="Objetivos Asociados al Plan" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom"  id="notification" class="objetivos btn btn-sm btn-success"  href="{% url 'listaObjetivosAnalista'  planes.id %} ">
															<span class="fa fa-bars" ></span>
															{% if planes.count_no_vistos != 0 and planes.count_no_vistos != none or planes.count_no_vistos_generales != 0 and planes.count_no_vistos_generales != none %} <span class="badge" title="Nuevas Observaciones"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
																						{% if planes.count_no_vistos == none %}{{ planes.count_no_vistos_generales }}{% endif %}
																						{% if planes.count_no_vistos_generales == none %}{{ planes.count_no_vistos }}{% endif %}
																						 {% if planes.count_no_vistos_generales != none and planes.count_no_vistos != none   %}{{ planes.count_no_vistos|add:planes.count_no_vistos_generales }}{% endif %}</span> {% endif %}

														 </a>

                    </td>
                    <td style="text-align:center; width:120px;">

                        <button type="button" title="Aceptar plan y enviar a revisión." data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" class="aceptar btn btn-sm btn-primary" data-id="{% url 'aceptaplanAnalista' planes.id %}"  {% if planes.estado_flujo_id == 11 or planes.estado_flujo_id == 7 %} disabled tabindex="-1"    {% endif %}>
                            <span class="fa fa-check-square"></span></button>

                        <button type="button"  title="Rechazar plan y devolver a jefatura que lo formuló." data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" class="rechazar btn btn-sm btn-danger" data-id="{% url 'rechazaplanAnalista' planes.id %}" {% if planes.estado_flujo_id == 11 or planes.estado_flujo_id == 7 %} disabled tabindex="-1"    {% endif %}>
                            <span class="fa fa-exclamation-triangle"></span></button>


                        		 <a  type="button" style="width:30px; height:30px; "  class="create btn btn-sm btn-success" href="{% url 'exporta_plan_analista_xls' planes.id %}"  name="button" title="Descargar Plan en MS Excel" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
									 <span style="margin-left:-1px; " class="fa fa-file-excel-o"></span></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</section>



<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalRechazar">
  <div class="modal-dialog modal-xs" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalAceptar">
  <div class="modal-dialog modal-xs" role="document">
	<div class="modal-content">

    </div>
  </div>
</div>
		{% endblock %}

	{% block extrajs %}

<script type="text/javascript">

    $(".rechazar").each(function () {
      $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalRechazar")});
	})

  $(".aceptar").each(function () {
      $(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalAceptar")});
	})

	  // Js Muestra/Oculta Mensaje Success
    $(".alert").fadeTo(10000, 500).slideUp("slow", function() {
        $(this).remove();
    });

    $("#list_estados").change(function () {
    $('#datatable-default_filter').find("input").val($(this).val())
    $('#datatable-default_filter').find("input").trigger('keyup');
        });

       $('#datatable-default').DataTable({
stateSave: true,

});

</script>

{% endblock %}