{% extends 'base/base.html' %}

{% block title %}
Actividades Asociadas al Objetivo
{% endblock %}


{% block content %}

	{% if messages %}
	  {% for message in messages %}
		<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
		  {{ message }}
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			 </button>
		</div>
	 {% endfor %}
	{% endif %}

	<section class="panel">
		<header class="panel-heading">
			<div class="panel-actions">
							    <button type="button" class="volver btn btn-sm btn-info"   name="button" title="Volver" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top" >
      								<span class="fa fa-reply"></span></button>

			</div>

		<h2 class="panel-title" style="font-size:16px; margin-right:50px;">{{ nombre_objetivo.nombre }}</h2>
		</header>

		<div class="panel-body">
			<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<!--<th>id</th>-->
						<th>ID</th>
						<th>Actividad</th>

						<th  title="Fecha Inicio de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Inicio Actividad</th>
						<th  title="Fecha de Término de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Término Actividad</th>

						<th style="display:none;">count NV</th>


						<th>Detalle</th>

					</tr>
				</thead>
				<tbody>
					{%  for objetivo in object_list %}
					<tr>
						<td> {{ objetivo.id }}</td>
						<td class="descripcion_actividad"  style="cursor:pointer;  overflow: hidden;  display: table-cell;  text-overflow: ellipsis;  border: solid 1px #dddddd; white-space: nowrap;">{{ objetivo.descripcion_actividad }}</td>

						<td style="width:170px;">{{ objetivo.fecha_inicio_actividad }}</td>
						<td style="width:190px;">{{ objetivo.fecha_termino_actividad }}</td>


						<td style="display:none;>">{{ objetivo.count_no_vistos }}</td>
						 <td style="width:80px; text-align:center;">


							 <button type="button"  title="Detalle Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top"  class="update btn btn-sm btn-warning"  data-id="{% url 'detalleactividadesrevisionplanificacion' objetivo.id %}"  >
							<span class="fa fa-search" ></span>

							</button>


                         </td>


					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

  <div class="modal fade" id="observacion_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

				<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Detalle Actividad</h2>
			</header>

              <div class="modal-body">
               	<textarea id="txt_obs_campo_expand" rows="15" cols="80" class="form-control" style="width:100%;resize: none; " maxlength="5000" readonly  ></textarea>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

              </div>
            </div>
          </div>

        </div>

	<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalUpdate">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

			</div>
		</div>
	</div>

{% endblock %}

{% block extrajs %}




<script type="text/javascript">

$(".volver").click(function() {
    window.location.href = '{% url 'listaObjetivosNoFinalizadas'  id_nivel_controlador.id %}';
    return false;
});

	// JS modal actualiza Registro
			$(".update").each(function () {
				$(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalUpdate")});
			});

$('#datatable-default').on('click', '.descripcion_actividad', function () {
    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(2)').text())
    $('#observacion_center').modal('toggle');
    });
</script>

		{% endblock %}