{% extends 'base/base.html' %}

{% block title %}
Actividades Asociadas al Objetivo
{% endblock %}


{% block content %}

	{% if messages %}
	  {% for message in messages %}
		<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
		  {{ message }}
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			 </button>
		</div>
	 {% endfor %}
	{% endif %}

	<section class="panel">
		<header class="panel-heading">
			<div class="panel-actions">
							    <button type="button" class="volver btn btn-sm btn-info"   name="button" title="Volver" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top" >
      								<span class="fa fa-reply"></span></button>

			</div>

		<h2 class="panel-title" style="font-size:16px; padding-right:28px;">{{ nombre_objetivo.nombre }}</h2>
		</header>

		<div class="panel-body">
			<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<!--<th>id</th>-->
						<th style="font-size:11px;">N°</th>
						<th style="font-size:11px; "> <div style="color:white;">......................................</div> <br> Descripción Actividad </th>
						<th style="font-size:11px;" >Horas</th>
						<th style="font-size:11px;">Volumen</th>
						<th style="font-size:11px;">Personas Asignadas</th>
						<th style="font-size:11px;">Total Horas</th>
						<th  style="font-size:11px;" title="Fecha Inicio de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Inicio Act.</th>
						<th  style="font-size:11px;" title="Fecha de Término de la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Fecha Término Act.</th>
						<th style="font-size:11px;">Familia Cargo</th>
						<th style="font-size:11px;">Periodicidad</th>
						<th style="display:none;">count NV</th>
<!--                        <th title="Total Observaciones Asociadas a la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Obs. Totales</th>-->
						<th style="font-size:11px;">Obs.</th>

					</tr>
				</thead>
				<tbody>
					{%  for objetivo in object_list %}
					<tr>
						<td style="font-size:11px;"> {{ forloop.counter }}</td>
						<td class="Mitexto"  style="height:70px; width:100%; border-bottom:1px; border-left:0px; border-right:0px; font-size:11px; padding-top:-5px;" >{{ objetivo.descripcion_actividad }}</td>
						<td style="font-size:11px;" >{{ objetivo.horas_actividad }}</td>
						<td style="font-size:11px;">{{ objetivo.volumen }}</td>
						<td style="font-size:11px;">{{ objetivo.personas_asignadas }}</td>
						<td style="font-size:11px;">{{ objetivo.total_horas }}</td>
						<td style="font-size:11px;">{{ objetivo.fecha_inicio_actividad }}</td>
						<td style="font-size:11px;">{{ objetivo.fecha_termino_actividad }}</td>
						<td style="font-size:11px;">{{ objetivo.id_familia_cargo }}</td>

						<td style="font-size:11px; ">{{ objetivo.id_periodicidad }}</td>
						<td style="display:none;>">{{ objetivo.count_no_vistos }}</td>

<!--						   <td> {% if objetivo.count_observaciones == none %} 0 {% else %} {{ objetivo.count_observaciones}} {%endif%}</td>-->


						 <td style="width:40px; text-align:center;">

							 <button type="button"  title="Observaciones Asociadas a la Actividad" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" id="notification"  class="update btn btn-sm btn-primary"  data-id="{% url 'gestionobservacionactividadesvp' objetivo.id %}"  >
							<span class="fa fa-comments" ></span>
							{% if objetivo.count_no_vistos != 0 and objetivo.count_no_vistos != none %} <span class="badge" title="Nuevas Observaciones"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">{{ objetivo.count_no_vistos }}</span> {% endif %}
							</button>
                         </td>


					</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
	</section>

	<!--Cabecera del modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="modalCreate">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

			</div>
		</div>
	</div>
	<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalUpdate">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalDelete">
		<div class="modal-dialog modal-xs" role="document">
			<div class="modal-content">

			</div>
		</div>
	</div>
	<!--Fin cabecera del modal -->

        <div class="modal fade" id="observacion_center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

				<header class="panel-heading">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Detalle Observación</h2>
			</header>

              <div class="modal-body">
               	<textarea id="txt_obs_campo_expand" rows="15" cols="80" class="form-control" style="width:100%;resize: none; " maxlength="5000" readonly  ></textarea>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

              </div>
            </div>
          </div>

        </div>




	{% block extrajs %}
		<script type="text/javascript">


			$(".volver").click(function() {
				//window.location.href = '{% url 'ActividadesDetalles' id_nivel_controlador.id  %}';
				 var url = '{% url 'ActividadesDetalles' id_nivel_controlador.id %}';
     			 var encodedUrl = encodeURIComponent(url);
   				 window.location.href = encodedUrl
				return false;
			});

			// JS modal actualiza Registro
			$(".update").each(function () {
				$(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalUpdate")});
			});

			// JS modal elimina Registro
			$(".delete").each(function () {
				$(this).modalForm({formURL: $(this).data('id'),  modalID: $("#modalDelete")});
			});

			// Js Muestra/Oculta Mensaje Success
			$(".alert").fadeTo(4000, 500).slideUp( "slow", function() {
				$(this).remove();
			});

$('#datatable-default').on('click', '.Mitexto', function () {
    $('#txt_obs_campo_expand').val($(this).parents('tr').find('td:nth-child(2)').text())
    $('#observacion_center').modal('toggle');


});


$('#datatable-default').DataTable({
stateSave: true,
"ordering": false, //desactiva el ordenamiento de la tabla para que el order_by del queryset funcione. ("order": [[ 3, "desc" ]]) para ordenar desde jquery.
"pageLength": 50 // cambio a 50 sprint 1 - CI-11 - 070121
});

		</script>
	{% endblock %}

{% endblock %}