{% extends 'base/base.html' %}
{% block title %}
Listado de Planes
{% endblock %}

{% block content %}

{% if messages %} {% for message in messages %}

	<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

{% endfor %} {% endif %}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <!--<a href="#" class="fa fa-times"></a>-->
        </div>


        <h2 class="panel-title"></h2>

    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>

                    <th>Unidad Plan</th>
                    <th>Jefatura Elabora</th>
                    <th>Estado</th>
                    <th>Fecha Envío Plan</th>
<!--                    <th title="Observaciones Totales Asociadas al Plan" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">Obs. Total</th>-->
                    <th >Objetivos</th>
                    <th >Opciones</th>
                </tr>
            </thead>
            <tbody>

                {% for planes in object_list %}
                <tr>

                    <td> {{ planes.id_jefatura.id_nivel }} </td>
                    <td> {{ planes.id_jefatura.id_user }} </td>
                    <td> {{ planes.estado_flujo.descripcion_estado}}</td>
                    <td> {{ planes.fecha_ultima_modificacion}}</td>
<!--                    <td> {% if planes.count_observaciones == none %} 0 {% else %} {{ planes.count_observaciones}} {%endif%}</td>-->

                      <td style="text-align:center;">

                             		<a type="button" title="Objetivos Asociados al Plan" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom"  id="notification" class="objetivos btn btn-sm btn-success"  href="{% url 'ActividadesDetalles'  planes.id %} ">
			<span class="fa fa-bars" ></span>
			{% if planes.count_no_vistos != 0 and planes.count_no_vistos != none or planes.count_no_vistos_generales != 0 and planes.count_no_vistos_generales != none %} <span class="badge" title="Nuevas Observaciones"  data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
                                        {% if planes.count_no_vistos == none %}{{ planes.count_no_vistos_generales }}{% endif %}
                                        {% if planes.count_no_vistos_generales == none %}{{ planes.count_no_vistos }}{% endif %}
                                         {% if planes.count_no_vistos_generales != none and planes.count_no_vistos != none   %}{{ planes.count_no_vistos|add:planes.count_no_vistos_generales }}{% endif %}</span> {% endif %}

			</a>

                    </td>
                    <td style="text-align:center;">

                        <button type="button" title="Aceptar plan y enviar a revisión." data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" class="aceptar btn btn-sm btn-primary" data-id="{% url 'aceptaplan' planes.id %}">
                            <span class="fa fa-check-square"></span></button>

                        <button type="button"  title="Rechazar plan y devolver a jefatura que lo formuló." data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="bottom" class="rechazar btn btn-sm btn-danger" data-id="{% url 'rechazaplan' planes.id %}">
                            <span class="fa fa-exclamation-triangle"></span></button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

</section>

<!--Cabecera del modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalCreate">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalDetalle">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">

        </div>
    </div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalUpdate">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalDelete">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalRechazar">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" id="modalAceptar">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--Fin cabecera del modal -->

{% block extrajs %}

<script type="text/javascript">
    $(".rechazar").each(function() {
        $(this).modalForm({
            formURL: $(this).data('id'),
            modalID: $("#modalRechazar")
        });
    })

    $(".aceptar").each(function() {
        $(this).modalForm({
            formURL: $(this).data('id'),
            modalID: $("#modalAceptar")
        });
    })

    $(function() {


function rollDice(){
   return (Math.floor(Math.random()*9999)+1);
}

function generateToken(){
 	var stringLength = 100;
	var stringArray = ['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','!','?'];
	var rndString = "";

	for (var i = 1; i < stringLength; i++) {
			var rndNum = Math.ceil(Math.random() * stringArray.length) - 1;
			rndString = rndString + stringArray[rndNum];
		};
	return rndString
}


    $( ".objetivos" ).each(function( index ) {
      var url = $(this).attr('href'); //get current url
      url = url.replace(/ /g, "")
      var encodedUrl = encodeURIComponent(url);
      var number = rollDice();
      var tokenstr = generateToken();
      encodedUrl = encodedUrl  + number + tokenstr

      $(this).attr("href", encodedUrl);
    });

});


</script>

<script type="text/javascript">


    // Js Muestra/Oculta Mensaje Success
    $(".alert").fadeTo(10000, 500).slideUp("slow", function() {
        $(this).remove();
    });

    $('#datatable-default').DataTable({
        "ordering": false //desactiva el ordenamiento de la tabla para que el order_by del queryset funcione. ("order": [[ 3, "desc" ]]) para ordenar desde jquery.
    });
</script>

{% endblock %} {% endblock %}